.clarity-section{
    display: flex;
    background-color: #F1F1F1;
    align-items: center;
    justify-content: space-between;
}
.clarity-img{
    margin: 64px 128px 64px 24px;
    
}
    
.clarity-heading, .clarity-who{
    font-size: 64px;
}
.clarity-who{
    color: red;
    font-size: 48px;
}
.clarity-text{
    font-size: 16px;
}

.clarity-text-large{
    font-size: 24px;
}