.features{
    background-color: #616161
}
.feature-heading{
    color: white;
    font-size: 64px;
    text-align:center;

}
.feature-text{
    color: white;
    font-size: 16px;
    text-align:center;

}
.feature-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:128px;
    padding-bottom: 128px;
}

.feature-icon{
    font-size: 56px;
    padding-top: 24px;


}
.feature-icon-name{
 color: white;
 font-size: 16px;
 padding-left: 12px;

}
.flash{
    color:#FF9800;
}
.heart{
 color: #F44336;
}
.camera{
    color: #D2BE0E;
}
.battery-full{
    color:#4CAF50;
}
.diamond{
    color: white;
}
.cloud{
    color: #2196F3}
.earth{
    color:#FFC107;}
 .server{
    color: #00BCD4;
 }
 .person{
    color: white;
 }
 .shield-half
 {
color:#FF9800
 }
.wifi{
    color: #757575;
}
.image{
    color:#E91E63;
}
