@font-face {
    font-family: "poppins", sans-serif;
    src: url(E:\Darakhshan\html-css-templates\app-launch\assets\fonts\Poppins) format('poppins');
  }
  selector {
    font-family: 'poppins';
}
  body{
    font-family: "poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

.fw700{
    font-weight: 700;
   
}
.fw400{
    font-weight: 400;
    
}
