
nav{
    background-color: #4D636F;
    font-size: 18px;
    position: static;
}
.nav-flex{
    display: flex;
    color: white;
}
.flex-right{
    display: flex;
    justify-content: space-between;
}

.home-icon{
    cursor: pointer;
    background: none;
    background-color: #3A4B53;
    text-align: center;
    
}
.home-padding{
    padding-right:8px;
}
.nav-padding{
    padding: 12px 24px; 
    text-align: center; 
}
.home-icon:hover{
    background-color:#CCCCCC;
    color: black;
}
.nav-icons{
    cursor: pointer;
    text-align: center;
}
.nav-icons:hover{
    background-color:#FFF;
    color: black;
    
}
.profile-icon img{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 8px 8px;
}